@font-face {
  font-family: 'Island Moments';
  src: url('../../../public/assets/fonts/Island_Moments/IslandMoments-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('../../../public/assets/fonts/raleway/Raleway-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
    }

.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom left, #9bcdee, #ffffff, #9bcdee);
  background-attachment: fixed;
  overflow: auto;
}

.inner__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 600px;
  margin-top: 30px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.order__box{
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
}
.table__header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(to bottom right, #8FE3CF, #256D85, #2B4865, #002B5B);

}
.table__header1{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(to bottom right, #002B5B, #2B4865, #256D85, #8FE3CF);

}
.Btn__Text{
  text-align: center;
}

.Btn__Text h2{
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
}
.Btn__Text1{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  text-align: center;
}
.Btn__Text1 h2{
  font-family: 'Island Moments', cursive;
  font-size: 50px;
  color: white;
  font-weight: lighter;
}
.Exit__Button{
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
.Btn__Box{
  margin-left: auto;

}
.other__container{
  width: 25%;
  height: 100%;
}
.other__box{
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 15px;
}
.btn__pay{
  width: 100%;
  height: 45px;
  border: none;
  color: white;
  background-color: #11468F;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.btn__pay:hover{
  background-color: white;
  color: black;
}
.Table__Box{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-grow: 1;
  height: 350px;
  margin: 0 1rem;
  flex-direction: column;
  padding: 1rem 1rem;
  border: 1px solid grey;
  overflow: auto;
}

.Table__Head1{
  display: flex;
  flex-direction: row;
  width: 7%;
}
.Table__Head{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Table__Data{
  display: flex;
  flex-direction: row;
}
.Table__Heads_Data{
 width: 100%;
 background-color: #85C88A;
 text-align: center;
 border: 1px solid black;
 padding: .5rem;
 font-weight: bold;
 font-size: 15px;
}

.Table__Heads_Data1{
  width: 100%;
  background-color: #85C88A;
  text-align: center;
  border: 1px solid black;
  padding: .5rem;
  font-weight: bold;
  font-size: 15px;
 }
 .Data{
  display: flex;
  flex-direction: row;
 }
.Table__Data__Box{
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Table__Data__Box1{
  width: 21%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Table__Container {
  margin: 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 500px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
}


.Pagination__Container{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Pagination__Prev,
.Pagination__Next{
  padding: .3rem;
  margin: .5rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.Pagination__Prev:hover,
.Pagination__Next:hover,
.Pagination__Container a:hover{
  background-color: #42C2FF;
}
.Pagination__Container a{
  padding: .5rem;
  margin: .3rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.paginationActive a{
  padding: .5rem;
  margin: .3rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  background-color: #42C2FF;
}
.Form__Input_Box1{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Form__Input_Container{
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
}
.Form__Input{
  height: 60px;
  margin: .5rem;
  padding: 10px;
  font-size: 25px;
}
.Form__Input_Box1 label{
  font-size: 25px;
  font-weight: bold;
}
.Table__Heads_Data2{
  width: 100%;
  background-color: #85C88A;
  text-align: center;
  border: 1px solid black;
  padding: .5rem;
  font-weight: bold;
  font-size: 15px;
 }

 .Table__Box1{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-grow: 1;
  height: 350px;
  margin: 0 1rem;
  flex-direction: column;
  padding: 1rem 1rem;
  border: 1px solid grey;
  overflow: auto;
}

.table{
  display: flex;
  height: 100%;
  width: 75%;
  flex-direction: row;
  padding-bottom: 10px;
}
.table__container{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.table__container1{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.table__container p{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .4;
  }
.table__container1 p{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .4;
}