@font-face {
  font-family: 'Lobster';
  src: url('../../../public/assets/fonts/Lobster/Lobster-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }

@font-face {
  font-family: 'Kaushan Script';
  src: url('../../../public/assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/assets/fonts/raleway/Raleway-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  }

.Cashier__Container{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-image: linear-gradient(to bottom left, #9bcdee, #ffffff, #9bcdee);
  padding-top: 80px;
  background-attachment: fixed;
  overflow: auto;
}

.Cashier__Header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-right: auto;
}

.Cashier__Header h1{
  font-size: 45px;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
}

.Cashier__Tab__Container{
  width: 100%;
  padding: 20px;
  height: 550px;
}

.Container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
}

.Data__Container{
    height: 160px;
    width: 460px;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    background-color: #72FFFF;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #0096FF;
    outline: none;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.Data_Image{
  display: flex;
  padding: 20px;
}

.Data_Image img{
  border-radius: 20px;
}

.Data_Info{
  padding-top: 130px;
  line-height: 1;
  width: 100%;
}
.Data_Info p{
  text-align: left;
  font-weight: 450;
  font-size: 22px;
  line-height: .4;
  font-family: 'Raleway', sans-serif;
}
.Data_Info h2{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

.Pagination__Container{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Pagination__Prev,
.Pagination__Next{
  padding: .3rem;
  margin: .5rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.Pagination__Prev:hover,
.Pagination__Next:hover,
.Pagination__Container a:hover{
  background-color: #61A4BC;
}
.Pagination__Container a{
  padding: .5rem;
  margin: .3rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.paginationActive a{
  padding: .5rem;
  margin: .3rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  background-color: #61A4BC;
}

.Table__Search_Box{
  margin: auto;
  height: 70px;
  /*added*/
  display: flex;
  flex-direction: row;
}
.Table__Search_Form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Table_Search_Input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}
.Table_Search_Submit {
  margin: 0 1rem;
  height: 30px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.Head__Container{
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.mainContainer{
  display: flex;
  width: 20%;
  height: 100%;
  padding: 15px;
}
.itemContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.imgContainer{
  border: 10px solid;
  border-color: #00A8CC #0C7B93 #27496D #142850;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.imgContainer img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.contentContainer{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -12px inset, rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: white;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 900px;
  margin-top: 75px;
  display: flex;
  padding: 20px;
}
