.Data__Container{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.Data__Box{
  height: 400px;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.Exit__Button{
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
}
.Btn__Box{
  margin-right: auto;
}
.Exit__Button:hover{
  border: 1px solid black;
}
.Data__Box1{
  width: 300px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction:  column;
  align-items: center;
  background-image: linear-gradient(180deg, #5F6F94, #25316D);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Data__Picture img{
  width: 250px;
  max-height: 250px;
  border: 5px solid #0F3460;
  margin: 1rem 0;
  border-radius: 20%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.Data__Box2{
  display: flex;
  flex-direction: column;
  border-left: 1px solid grey;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(/assets/admin-assets/pictures/logo.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: right;
  background-size: 200px;
}
.Data__Box2 p{
  font-size: 20px;
}
.Data__Box2 mark{
  background-color: white ;
}

.Box2__Container{
  padding: 20px;
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);

}

.Edit__Btn{
  border: 2px solid #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  width: 70px;
  margin-top: 30px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  background-color: transparent;

}
.Edit__Btn:hover{
  background-color: rgb(106, 191, 255);
  color: black;
  border: 2px solid #000000;
}
.Delete__Btn{
  border: 2px solid #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  width: 70px;
  margin-top: 30px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  background-color: transparent;

}
.Delete__Btn:hover{
  background-color: rgb(232, 97, 97);
  color: black;
  border: 2px solid #000000;
}