.container {
  height: 200px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: row;
}
.container button{
  height: 30px;
  width: 100px;
  margin: 2rem 25%;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}
.container button:hover{
  background-color: rgb(168, 168, 200);
}